<!doctype html>
<html lang="en">
  <head>
    <title>Porgram Input Jarak Tanggal Lahir</title>
    <!--<link href="static/index2.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="{{url_for('static',filename="index2.css")}}">
  </head>
  <body>
    <h1>PYTHON INPUT JARAK UMUR DENGAN SYNTAX DATETIME BERBASIS FLASK APP</h1>
    <hr>
    <h2>Program Mengecek Jarak Tanggal Lahir Dan Tanggal Sekarang Power By</h2>
    <img src="{{ url_for('static', filename='flask.png') }}" height="100" width="500">
    <form method="POST">
      Masukan Tahun<input type="number" name="tahun" placeholder="Masukan Angka"/><br />
      Masukan Bulan<input type="number" name="bulan" placeholder="Masukan Angka" /><br />
      Masukan Hari<input  type="number" name="hari" placeholder="Masukan Angka"/><br>
      <input type="submit" name="data_lahir" value="Kirim"/><br>
    <p>Ingin Cek Tanggal Hari Ini ?</p>
    <button>
        <a href="{{url_for('index')}}">Cek Tanggal Berapa Hari Ini</a>
      </button>
      <p>Atau Cek Berapa Umur Anda</p>
      <button>
         <a href="{{url_for('index3')}}">Cek Berapa Umur Anda</a>
      </button>
    </form>
  </body>
</html>
