<!DOCTYPE html>
<html>
    <head>
        <title>Program Input Umur</title>
        <!--<link href="static/index3.css" rel="stylesheet" />-->
        <!--untuk case flask serius pake syntax url_for-->
        <link rel="stylesheet" href="{{url_for('static', filename='index3.css')}}">
    </head>
    <body>
    <h1>PYTHON MENGECEK UMUR DENGAN SYNTAX DATETIME BERBASIS FLASK APP</h1>
    <hr>
    <p>Mengecek Berapa Umur Anda Power By</p>
    <img src="{{ url_for('static', filename='flask.png') }}" height="100" width="500">
     <p>Sekarang Tanggal {{hari_ini}}</p>
      <form method="POST">
      Masukan Tahun<input type="number" name="tahun" placeholder="Masukan Angka" /><br />
      Masukan Bulan<input type="number" name="bulan" placeholder="Masukan Angka" /><br />
      Masukan Hari<input  type="number" name="hari" placeholder="Masukan Angka"/><br>
      <input type="submit" name="data_lahir" value="Kirim"/><br>
    <p>Ingin Cek Tanggal Hari Ini ?</p>
    <button>
        <a href="{{url_for('index')}}">Cek Tanggal Berapa Hari Ini</a>
      </button> 
      <p>Atau Cek Jarak Umur Anda</p>
      <button>
        <a href="{{url_for("index2")}}">Cek Jarak Tanggal Lahir Anda Dengan Hari Ini</a>
      </button>
    </form>
    </body>     
</html>